/* src/styles/CreateEntryForm.css */

.entry-form-container {
    background-color: #FEFAE0; /* Light cream background for the form container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 40px auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    color: #5F6F52; /* Dark green for headings */
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    color: #5F6F52; /* Dark green for labels */
    margin-bottom: 8px;
  }
  
  input, textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #B99470; /* Darker beige border for input fields */
    border-radius: 4px;
    background-color: #FEFAE0; /* Light cream background for inputs */
    color: #5F6F52; /* Dark green text color for inputs */
  }
  
  button {
    background-color: #5F6F52; /* Dark green for buttons */
    color: #FEFAE0; /* Light cream text */
    border: 2px solid #A9B388; /* Light green border */
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #A9B388; /* Light green on hover */
    color: #5F6F52; /* Dark green text on hover */
  }
  